<p id="notice"><%= notice %></p>

<p>
  <b>Api key:</b>
  <%= @user.api_key %>
</p>

<p>
  <b>Ln:</b>
  <%= @user.ln %>
</p>

<p>
  <b>Sn:</b>
  <%= @user.sn %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
